<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <title>CHAT</title>
    <style>
        * {
            font-size: 20px;
            scroll-behavior: smooth;
        }

        #chats {
            height: 100%;
            width: 1280px;
            /* background-color:#CCC; */
            overflow-y: auto;
            float: left;
            position: relative;
            margin-left: -5px;
        }
        div#human {
            padding:10px;
            background-color:rgb(192, 255, 234);
            width:max-content;
            max-width: 60%;
            right:1px;
            justify-content: right;
            border-radius:4px;
            margin:5px;
            margin-right:0px;
            position: absolute;
            right: 0px;
        }
        div#ai {
            padding:10px;
            margin:5px;
            background-color:rgb(215, 215, 215);
            width:max-content;
            max-width:60%;
            right:1px;
            justify-content: right;
            border-radius:4px;
        }
        div#chatuser {
            font-size:15px;
            font-weight:bold;
            color:rgba(2, 49, 47, 0.65)
        }
        div#container{
            margin-bottom:100px;
        }
        div#newdocument{
            margin:auto;
            width:max-content;
            background-color:rgb(193, 193, 193);
            border-radius:6px;
        }
    </style>
</head>

<body>
    <div id="chats">
        <%for(let i=0; i<(chats.length); i++){%>
            <%if(chats[i].ai){%>
                <div ><div id="ai"><div id="chatuser">Praktiki</div><br><%=chats[i].ai%>
                </div></div>
                <%}else{%>
                    <div id="container"><div id="human"><div id="chatuser"><%=username%></div><br><%=chats[i].human%>
                    </div></div>
                    <%}%>
                        <%}%>
    </div>
    <input type="text" name="query" id="query" />
    <button onclick="getresponse()" type="submit">SUBMIT</button>
    <br>
    <br>
    <textarea name="text" id="textbox"></textarea>
    <br>
    <button onclick="savedoc()">SAVE New DOC</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const input = document.getElementById("query");
        const value = input.value
        function getresponse() {
            const data = { "user_id": "<%=username%>", "session_id": "<%=session%>", "query": $("#query").val(), type: "input" }
            setTimeout(
            function() {
                $("#chats").append($(`<div id="container"><div id="human"><div id="chatuser"><%=username%></div><br>${$("#query").val()}</div></div>`))
            },
            500);
            $.getJSON("/request", $.param(data), (res) => {
                console.log("RESPONSE: " + res.text)
                var converter = new showdown.Converter(),
                text = res.text
                html = converter.makeHtml(text);
                $("#chats").append(`<div><div id="ai"><div id="chatuser">Praktiki</div><br>${html}</div></div>`)
            })
            console.log($("#textbox").val())
        }        
        function savedoc() {
            let textbox = document.getElementById("textbox").value
            console.log(textbox)
            const data = { "user_id": "<%=username%>", "session_id": "<%=session%>","type": "text-area", "query": textbox }
            $.getJSON("/request", $.param(data), (res) => {
                console.log("RESPONSE: " + res.text)
                $("#chats").append($(`<div id="newdocument">~New Document uploaded by <%=username%>~</div>`))
            })
        }
    </script>
</body>

</html>